# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
backend/venv/

# Environment variables
.env
backend/.env

# VS Code
.vscode/

# Node
node_modules/

# Build
dist/
build/

# Uploads
backend/app/uploads/

datasets/palm.zip